<div class="container">
    <div class="jumbotron">
        <h1 class="ajout">Entrez vos identifiants </h1>
        <form action="login.php" method="POST">
        
            <div class='form-group'>
                <label>Username : </label>
                <input type="text" name="username" size="12" class="form-control" /><br />
            </div>
            
            <div class='form-group'>
                <label>Password : </label>
                <input type="passwordword" name="password" size="30" class="form-control"/><br />
            </div>
            
                <input type="submit" value="Connexion" /><br/>
            <div style="padding-top:20px;">
                
            </div>
        </form>            
    </div>
</div>